<form #mouseForm="ngForm" (ngSubmit)="onSubmit($event)">
  <div>
    <label for="mouseModel">Model</label>
    <input
      type="text"
      id="mouseModel"
      name="mouseModel"
      [(ngModel)]="object.model"
      required
    />
  </div>
  <div>
    <label for="dpi">DPI</label>
    <input
      type="number"
      id="dpi"
      name="dpi"
      [(ngModel)]="object.dpi"
      required
      min="1"
    />
  </div>

  <input
    type="submit"
    name="submit"
    id="submit"
    value="Zapisz"
    [disabled]="mouseForm.invalid"
  />
</form>
